.gallery2 {
    column-count: 2;
    /* columns: 200px 2; */
    column-gap: 30px;
    overflow:auto;

}


.gallery2>div {
    display: inline-block;
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 30px !important;
    
}


@media screen and (max-width: 1240px) {
    .gallery2 {
        column-gap: 20px;
    }
    .gallery2>div {      
        margin-bottom: 20px !important;
           }
  }

@media screen and (max-width: 769px) {
    .gallery2 {
        column-count: 1;
        column-gap: 0;
    }

  }

  @media screen and (max-width: 479px) {
    .gallery2>div {      
        margin-bottom: 13px !important;
           }
  }