.gallery1 {
    column-count: 2;
    column-gap: 30px;
    overflow:auto;
    
}



.gallery1>div {
    display: grid;
    /* grid-template-rows: 1fr auto; */
    /* margin-bottom: 30px !important; */
    /* page-break-inside: avoid; */
   
    /* break-inside: avoid; */
    grid-row: 1 / -1;
    grid-column: 1;
    margin-bottom: 30px !important;
}


.gallery1>div:nth-child(3)>span {
    margin-top: 25% !important;
}


@media screen and (max-width: 1240px) {
    .gallery1 {
        column-gap: 20px;
    }
    .gallery1>div {      
        margin-bottom: 20px !important;
           }
  }

@media screen and (max-width: 769px) {
    .gallery1 {
        column-count: 1;
        column-gap: 0;
    }

    .gallery1>div:nth-child(3) {
        margin-top: 0 !important;
    }
  }