.gallery2 {
    column-count: 2;
    column-gap: 30px;
}

.gallery2 span {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 30px !important;
    break-inside: avoid;
    grid-row: 1 / -1;
    grid-column: 1;
}



@media screen and (max-width: 1240px) {
    .gallery2 {
        column-gap: 20px;
    }
    .gallery2 span {      
        margin-bottom: 20px !important;
           }
  }

@media screen and (max-width: 769px) {
    .gallery2 {
        column-count: 1;
        column-gap: 0;
    }

  }