.header{
  display: flex;
  margin-top: 112px;
  margin-bottom: 130px;
}

.header h1 {
  width: 50%;
  padding-right: 15px;
  white-space: pre;
  /* position: relative; */
}

 
.header div {
  width: 50%;
  padding-left: 15px;
  white-space: pre-wrap;
}


.header a {
  font-weight: bold;
  text-decoration: underline;
}

.header div p a::after {
  display: inline-block;
  transform: rotate(0deg);
  content: ' 👋';
}

.header p a:hover::after, .header p::after  {
  transform: rotate(25deg);
}


@media screen and (max-width: 968px) {
  .header {
    flex-direction: column;
  }
  
  .header h1 {
    width: 100%;
    padding-right: 0;
  }
  
  .header div {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
}
  
@media screen and (max-width: 479px) {
  .header {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .header h1 {
    font-size: 40px;
    line-height: 48px;
  }
  
  .header div p {
    font-size: 14px;
    line-height: 22px;
  }
}


