.video {
    margin-top: -150px;
    margin-bottom: 25px;
    will-change: scroll-position;
}

@media screen and (max-width: 1240px) {
    .video {
        margin-top: -12%;
        margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 769px) {
    .video {
        margin-top: 0;
        margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 479px) {
    .video {      
        margin-bottom: 13px !important;
           }
  }